@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: large;
    background-color: rgb(114, 114, 114);
}

section{
    height: 100vh;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    scroll-snap-align: start;
}

.container{
    scroll-snap-type: y mandatory;
}

nav{
    width: 80%;
    position: fixed;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    color: #ebebeb;
}

.nav-links{
    flex: 1;
    text-align: right;
    text-shadow: 1px 1px 4px black;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
}

.logo{
    flex-basis: 20%;
    }
    
.logo img{
    width: 150px;
    }

.h1{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px black;
}
