@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-size: large;
}

section{
    height: 100vh;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgb(90, 90, 90);
    scroll-snap-align: start;
    background-color: #00000000;
}

.container{
    scroll-snap-type: y mandatory;
    background-color: #00000000;
}

nav{
    transform:translatex(26px) translatey(-12px);
    width:1818px;
    position: fixed;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: #00000000;
}

.nav-links{
    flex: 1;
    text-align: right;
    text-shadow: 1px 1px 4px rgb(90, 90, 90);
        color: rgb(0, 0, 0);
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
}

.logo{
    flex-basis: 20%;
    background-color: #00000000;
    }
    
.logo img{
    width: 150px;
    background-color: #00000000;
    }

.h1{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgb(90, 90, 90);
}

h1{
    padding-top:184px;
}

.one h1{
    font-size:80px;
}

.two h1{
    transform:translatex(735px) translatey(-462px);
    width:7%;
    font-size:58px;
}

.two section{
    transform:translatex(256px) translatey(-435px);
    width:60%;
    font-size:19px;
    padding-left:24px;
    min-height:880px;
    height:880px;
}

.three h1{
    transform:translatex(536px) translatey(34px);
    width:15%;
    font-size:56px;
}

.three section{
    transform:translatex(404px) translatey(56px);
    height:93px;
    width:28%;
    font-size:26px;
}

.four h1{
    transform:translatex(838px) translatey(593.1px);
    width:8%;
    font-size:36px;
}

.four section{
    transform:translatex(-6px) translatey(730px);
    width:101%;
    min-height:81px;
    padding-left:541px;
    background-color:#2d2d2d !important;
    background-position-x:0%;
    font-size:26px;
    height:153px;
   }
